.page-title {
    font-weight: 800;
    color: orange;
    text-decoration: underline;
    margin-left: 50px;
}

.recipe-list {
    background-color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border-radius: 8px;
}

.description p{
    font-style: italic;
    color: slateblue;
}

.subheading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 10px;
}

img {
    margin: 15px;
}